# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Documentos\FEUP\2 ano\1 semestre\Algoritmos\Teste 1\2017\2017_ficheiros\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
